:root {
  --primary-color: #1c1c1c; 
  --secondary-color: #f4f4f4; 
  --accent-color: #ff9900; 
}

body {
  font-family: 'Exo 2', sans-serif;
  background-color: var(--secondary-color);
  color: #333;
}

h2 {
  margin-bottom: 1rem;
  color: var(--primary-color);
}

button {
  padding: 0.5rem 1rem;
  font-family: inherit;
  border: none;
  cursor: pointer;
}

button.primary {
  background-color: var(--secondary-color);
  color: var(--primary-color);
}

.app {
  margin: 0 auto;
  max-width: 1200px;
}

header h1 {
  font-size: 2.5em;
  font-weight: 900;
  text-align: center;
  padding: 0.5rem 0;
  color: var(--primary-color);
}

.logo {
  font-size: 1.25em;
  padding-left: 0.5rem;
  color: transparent;
  text-shadow: 0 0 0 var(--accent-color);
}

.main-content {
  padding: 1rem;
}

.new-movie-form {
  padding: 2rem 1rem;
  margin: 2rem 0;
  background-color: #f4f4f4; 
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
}

.new-movie-form form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.new-movie-form input {
  margin: 1rem 0;
  padding: 0.5rem;
  width: 100%;
  border: 1px solid #ccc; 
  border-radius: 4px;
  box-sizing: border-box;
}

.new-movie-form button {
  margin-top: 1rem;
  padding: 0.5rem 1rem;
  background-color: #ff9900; 
  color: #fff; 
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.new-movie-form button:hover {
  background-color: #e68300; 
}


.searchbar {
  padding: 1rem;
  display: flex;
  flex-direction: column;
}

label {
  font-weight: bold;
  display: block;
}

input {
  padding: 0.5rem;
  border: none;
  font-family: inherit;
  font-size: 1.2em;
  border-bottom: 2px solid var(--accent-color);
  transition: all 0.2s;
  width: 100%;
  background-color: var(--secondary-color);
}

input:focus {
  outline: none;
  border-bottom: 2px solid var(--primary-color);
}

.card {
  margin: 1rem;
  background-color: var(--secondary-color);
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  transition: transform 0.2s ease-in-out;
}

.card:hover {
  transform: scale(1.04);
}

.card img {
  width: 100%;
  height: auto;
  max-height: 350px;
  object-fit: cover;
  border-radius: 8px 8px 0 0;
}

.card-content {
  flex: 1;
  padding: 1rem;
  display: flex;
  flex-direction: column;
}

.card-title {
  font-size: 1.2em;
  font-weight: bold;
  margin-bottom: 0.5rem;
  color: var(--primary-color);
}

.card-release {
  font-size: 1em;
  color: #666;
}

.card-summary {
  flex: 1;
  font-size: 1em;
  color: #333;
}

.card button {
  margin-top: auto;
  padding: 0.5rem 1rem;
  background-color: var(--accent-color);
  color: var(--secondary-color);
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.card button:hover {
  background-color: #e68300;
}



@media (min-width: 768px) {
  .cards {
    display: flex;
    flex-wrap: wrap;
  }

  .card {
    width: calc(33.333% - 2rem);
  }
}

@media (min-width: 1024px) {
  .card {
    width: calc(25% - 2rem);
  }
}

@media (min-width: 1200px) {
  .card {
    width: calc(20% - 2rem);
  }
}

.navigation {
  display: flex;
  justify-content: space-between;
}

.button {
  padding: 10px;
}
